h1{background-color: rgb(7, 24, 208);color: rgb(235, 230, 230);text-align: center;
font-style: oblique;font-weight: 400;}
h2{background-color: rgb(40, 5, 216);color: rgb(243, 247, 240);text-align: center;
font-style: oblique;}
h3{background-color: blue;color: rgb(233, 242, 223);font-style: oblique;
text-align: center;}
h4{background-color: rgb(52, 9, 222);color: #f2eded;;font-style: oblique;
text-align: center;}