 
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
             background-color: rgb(232, 229, 250);
        }
        h1{background-color: antiquewhite;color: blue;}